/* Navbar */
.navbar {
	margin-top: 2rem;
	margin-bottom: 3rem;

	/* & h1 {
		color: var(--primary);
	} */

	& img {
		max-width: 90%;

		@media (min-width: 500px) {
			max-width: 300px;
		}
	}
}

/* .nav {
	& a {
		display: inline-block;
		margin-right: .5rem;
	}
} */
